In [11]:
import pandas as pd
from xlwings import view

In [12]:
dummy_path = 'All_Market_Dummy.xlsx'

In [13]:
add_on_path = 'Add_On_Dummy.xlsx'

In [14]:
#read the all-market dummy data file
df = pd.read_excel(dummy_path)
df.head()

,Version Status,Effective Start Date,Effective End Date,Partner,Financial Offering: Contract Type,Financial Offering: State,Min,Max,Escalator,Factor
0,Activated,2021-03-11,NaN,NNU,Apple,NN,-50,-25,54,3
1,Activated,2021-03-11,NaN,LIW,Apple,LI,825,850,63,1
2,Activated,2021-03-11,NaN,TSQ,Apple,TS,925,950,54,13
3,Activated,2021-03-11,NaN,WRQ,Apple,TS,800,825,98,2
4,Activated,2021-03-11,NaN,CNK,Apple,TS,750,775,98,26

In [15]:
#read the add-on file
df_addon = pd.read_excel(add_on_path)
df_addon.head()

  Partner State Contract Type  Amount Effective Date
0     DVU    TS        Orange    1312     2021-01-21
1     DVU    TS          Pear    1100     2021-01-21
2     DVU    TS         Apple    1791     2021-01-21
3     CNK    TS         Apple    1394     2021-01-21
4     CNK    TS        Banana    1482     2021-01-21

In [16]:
#all unique states from all market base dummy data
split_markets = df['Financial Offering: State'].unique()
split_markets

array(['NN', 'LI', 'TS', 'WR', 'CN', 'GG', 'SX', 'WY', 'XS', 'GH', 'GJ',
       'ZF', 'DH', 'DV', 'XK', 'SP', 'YF', 'XM', 'HD', 'EI', 'LT', 'FY'],
      dtype=object)

In [17]:
#these are the states that have add-on dummy data
split_addon = df_addon['State'].unique()
split_addon

array(['TS', 'HD', 'YF', 'ZF', 'WR', 'WY', 'GG', 'GH', 'DV', 'SP', 'XM',
       'NN', 'XK'], dtype=object)

In [ ]:
#create an excel file for every market with individual dealers in different tabs
#and 2 additional tabs: dummy base for all dealers & add-on dummy for all dealers in that market.
for market in split_markets:
    df1 = df[df['Financial Offering: State'] == market]
    writer = pd.ExcelWriter(str(market)+" State Matrice by Dealer.xlsx")
    df1.to_excel(writer,market,index=None)
    if (market in split_addon):
        df2 = df_addon[df_addon['State'] == market]
        df2.to_excel(writer,str(market)+'_add_on',index=None)
    for group, data in df1.groupby('Partner'):
        data.to_excel(writer,group,index = None)
    writer.save()